{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl font-bold text-center text-gray-900 dark:text-white" style="margin: 5px;">Mis Pedidos</h1>
<article class="rounded-xl border border-gray-700 bg-gray-800 p-4 shadow-sm" style="max-width: 800px; margin: auto;">
    <div class="flex items-center gap-4">
      <img
        alt=""
        src="https://images.unsplash.com/photo-1614644147724-2d4785d69962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80"
        class="size-16 rounded-full object-cover hidden"
      />
  
      <div>
        <h3 class="text-lg font-medium text-white">{{ order.user.username }}</h3>
  
        <div class="flow-root">
          <ul class="-m-1 flex flex-wrap">
            <li class="p-1 leading-none">
              <a href="#" class="text-xs font-medium text-gray-300">{{ order.order_date }}</a>
            </li>
  
            <li class="hidden p-1 leading-none">
              <a href="#" class="text-xs font-medium text-gray-300"> GitHub </a>
            </li>
  
            <li class="hidden p-1 leading-none">
              <a href="#" class="text-xs font-medium text-gray-300">Website</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <ul class="mt-4 space-y-2">
      {% for product_order in order.orderproduct_set.all %}
      <li style="margin: 5px;">
        <a href="#" class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
          <strong class="font-medium text-white">{{ product_order.product.name }}</strong>
  
          <p class="mt-1 text-xs font-medium text-gray-300">
            <strong>Precio:</strong> {{ product_order.product.price}} 
            <strong>Cantidad:</strong> {{ product_order.quantity }} 
          </p>
        </a>
      </li>
      {% empty %}
        No hay productos en este pedido
      {% endfor %}
    </ul>
  </article>

<!-- {% debug order %} -->
{% endblock content %}