{% extends 'base.html' %}

{% load tailwind_filters %}
{% block content %}
<h1 class="text-3xl font-bold text-center text-gray-900 dark:text-white">Registro</h1>
<form method="post" class="max-w-md mx-auto p-8 bg-white rounded-lg shadow md:p-12 lg:p-16 xl:p-20">
    {% csrf_token %}
    {{ form|crispy }}
    <button
        class="inline-block rounded-sm bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:ring-3 focus:outline-hidden"
        type="submit"
    >
        Registrarse
    </button>
    <p class="mt-4 text-center text-sm text-gray-500">
        ¿Ya tienes una cuenta? <a href="{% url 'login' %}" class="text-indigo-600 hover:underline">Inicia sesión</a>
    </p>
</form>
{% endblock %}